@model WordParser.Models.Document

@{
    ViewBag.Title = "Delete";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(m=>m.Id)
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Dokümanı silmek istediğinizden emin misiniz?</h3>
            <h3><span class="label label-default">@Model.Name</span>&nbsp; silinecek.</h3>
        </div>
        <div class="panel-footer">
            @Html.ActionLink("İptal et ve anasayfaya dön", "Index", null,
                new
                {
                    @class = "btn btn-default"
                })
            <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>   Sil
            </button>
        </div>
    </div>
}