@model List<WordParser.Models.Document>
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Parse",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label>Dosya Seçiniz:</label>
    <input type="file" name="file" id="file" /><br />
    @ViewBag.Hata
    <label>Dosya Adı:</label>
    <input type="text" id="name" name="name" /><br><br>
    <input type="submit" value="Kaydet" />
    <br><br>
    @ViewBag.Message
}
<h2>Ekli Dökümanlar:</h2>
@foreach (var item in Model)
{
    @Html.ActionLink(item.Name, "Index", "Document", new { documentId = item.Id, paragraphId = 0 }, null) <br />
}
