@model WordParser.Models.DocumentViewModel
@{
    ViewBag.Title = "Index";
}

@if (Model.Document != null)
{
    <div class="row panel">
        <div id="paragraphs" class="col-xs-3 pre-scrollable">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-8">
            <div class="panel-group">
                @if (Model.Paragraph != null)
                {
                    <div class="panel-heading">
                        <b>@Model.Paragraph.Name</b>
                    </div>
                    <div class="panel-body">
                        @(new HtmlString(Model.Paragraph?.Content))
                    </div>
                }
            </div>
        </div>
    </div>
}
