@model WordParser.Models.Document
@{
    ViewBag.Title = "Index";
}

@if (Model != null)
{
    <div class="panel">
        <div class="panel-heading"><b>@Model.Name.ToUpper()</b></div>
        <div class="panel-body">
            <div class=" col-lg-3">
                <div class="panel pull-left pre-scrollable">
                    @foreach (var paragraph in Model.Paragraphs)
                    {
                        <p>@Html.ActionLink(paragraph.Name, "Index", "Document", new { documentId = Model.Id, paragraphId = paragraph.Id }, null)</p>
                    }
                </div>
            </div>
            <div class="col-lg-8">
                <div class="panel-heading"><h4>@ViewBag.ParagraphName </h4> </div>
                <div class="pull-left">
                    @(new HtmlString(ViewBag.Content))
                </div>
            </div>
        </div>
    </div>
}
